// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #f0f800 !default;
  $content-width: 1450px;
  $navbar-height: 45px;
  $sidebar-width: 405px;